# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Alembic cache
*.pyc

# OS files
.DS_Store
Thumbs.db

#Logs
*.log